body{
    background: rgba(255, 255, 255, 0.9);
  }
  form{
    position: absolute;
    top: 40%;
    left: 70%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 200px;
    border: 4px dashed rgb(255, 0, 0);
  }
  form p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: #010000;
    font-family: Arial;
  }
  form input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
  }
  form button{
    margin: 0;
    color: rgb(255, 255, 255);
    background: #16a085;
    border: none;
    width: 508px;
    height: 35px;
    margin-top: -20px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
  }
  form button:hover{
    background: #ff0000;
      color: #0C5645;
  }
  form button:active{
    border:0;
  }  